.register-ss{
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  background-image: linear-gradient(to bottom right, #4C4C4C, white);
}

.register-ss #propiedades-ss{
  background-color: #6c1d45;
  border-radius: 3px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 1) 0px 0px 15px;
}

.ss-register-desc {
  border-radius: 10px;
  background-color: #A1BCBF;
  color: black;
}

.ss-register-desc > p {
  padding: 10px;
}

.register-ss .ss-input-error {
  border: 2px solid #E96;
}

.register-ss small {
  color: #EE9966;
  font-weight: bold;
}

.ss-register-input-text {
  border-radius: 10px;
  border: 2px solid #AEB4BA;
  padding: 0.375rem 0.75rem;
  margin: 10px;
}

a#ss-register-resend {
  color:black;
}

a:visited#ss-register-resend {
  color: black;
}

a:focus#ss-register-resend {
  color: black;
}

a:hover#ss-register-resend {
  color: white;
}

.ss-register-btn-black {
  background-color: #000;
  color: white;

}
